.header{
    background-color:#39454A;
   
}

.polozajelemenata{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    height: 60px;
}

.linksinheader > *{
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    padding-right: 35px;
    text-decoration: none;
}